<div class="container">
  <div class="subcontainer">
    <div class="logo">
      <img
        class="logo-image"
        src="https://avatars.githubusercontent.com/u/2487851?s=280&v=4"
        alt="Logo"
      >
      <div class="titles">
        <h1 class="h1">Bienvenue sur</h1>
        <h1 class="h1">Norsys</h1>
        <h1 class="h1">Parc Informatique</h1>
      </div>
    </div>
    <form [formGroup]="loginForm" class="form" (ngSubmit)="handleSubmit()">
      <h1>Connexion:</h1>
      <label>Nom d'utilisateur:</label>
      <input
        class="input"
        type="email"
        formControlName="email"
        required
      />
      <label>Mot de passe:</label>
      <input
        class="input"
        type="password"
        formControlName="mot_de_passe"
        required
      />
      <button class="button" type="submit" [disabled]="loginForm.invalid">Se Connecter</button>

      <span>Tu n'as pas encore de compte ? Inscris-toi <a routerLink="/signup">ici</a> </span>
    </form>
  </div>
</div>
