.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1002;
}

.modal {
  padding: 10px;
  background: white;
  border-radius: 8px;
  width: 400px;
}

.title {
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}
.exit {
  cursor: pointer;
}

.modal-actions {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.confirm-button {
  background-color: red;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-button {
  background-color: gray;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 420px) {
  .modal {
    width: 300px;
  }
}
