<loader *ngIf="isLoading"></loader>

<div *ngIf="equipements.length === 0 && !isLoading" class="no-equipment-container">
  <div class="header">
    <h2>Liste des Équipements</h2>
    <div>
      <button class="add-button" (click)="goToAddEquipement()">➕</button>
    </div>
  </div>
  <div class="no-equipment-message">
    <p>Aucun équipement disponible. Veuillez ajouter un.</p>
  </div>
</div>

<div *ngIf="equipements.length > 0 && !isLoading" class="table-container">
  <div class="header">
    <h2>Liste des Équipements</h2>
    <div>
      <button class="add-button" (click)="goToAddEquipement()">➕</button>
    </div>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th>Nom</th>
      <th>Description</th>
      <th>Numéro de Série</th>
      <th>Date d'Acquisition</th>
      <th>Maintenance Prévue</th>
      <th>Actif</th>
      <th>Caractéristiques</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let eq of equipements">
      <td>{{ eq.nom }}</td>
      <td>{{ eq.description }}</td>
      <td>{{ eq.numero_serie || "-" }}</td>
      <td>{{ eq.date_acquisition || "-" }}</td>
      <td>{{ eq.maintenance_prevue || "-" }}</td>
      <td>{{ eq.est_actif ? "Oui" : "Non" }}</td>
      <td>
        <ul style="padding-left: 16px; margin: 0">
          <li *ngFor="let carac of eq.caracteristiques">
            <strong>{{ carac.caracteristique }}</strong>: {{ carac.valeur }}
          </li>
        </ul>
      </td>
      <td>
        <div class="action-buttons">
          <button class="action-button edit-btn" (click)="goToEditEquipement(eq.id!)">
            <edit-icon></edit-icon>
          </button>
          <button class="action-button delete-btn" (click)="handleDelete()">
            <delete-icon></delete-icon>
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
