<loader *ngIf="isLoading"></loader>


 <div class="no-affectations-container" *ngIf="!isLoading && affectations.length === 0">
                <div class="header">
                    <h2>Liste des Affectations</h2>
                  <button *ngIf="isAdmin" class="add-button" (click)="goToAdd()">
                  ➕
                  </button>
</div>
<div class="no-affectations-message">
  <p>Aucune affectation disponible</p>
</div>
</div>

<confirm-modal *ngIf="showModal"
               [title]="'Attention'"
               [message]="'Voulez vous vraiment supprimer cette affectation ?'"
               (confirm)="deleteAffectation()"
               (cancel)="closeModal()"
></confirm-modal>

<affectation-details *ngIf="showInfoModal" [affectation]="selectedAffectation!" (close)="showInfoModal = false">
</affectation-details>
<div *ngIf="!isLoading && affectations.length > 0">
  <div class="header">
    <h2>Liste des Affectations</h2>

    <button *ngIf="isAdmin" (click)="goToAdd()" class="add-button">➕</button>
  </div>
  <affectation-table [affectations]="affectations"
                     [isAdmin]="isAdmin"
                     (handleShow)="handleShow($event)"
                     (handleUpdate)="handleUpdate($event)"
                     (handleDelete)="handleDelete($event)"

  >
  </affectation-table>
  <affectation-card [affectations]="affectations"
                     [isAdmin]="isAdmin"
                     (handleShow)="handleShow($event)"
                     (handleUpdate)="handleUpdate($event)"
                     (handleDelete)="handleDelete($event)"

  >
  </affectation-card>
</div>
