.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.subcontainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.logo {
  display: flex;
  height: 300px;
}
.logo-image {
  height: 100%;
}
.titles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.h1 {
  padding: 0;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  padding: 30px 50px;
}
.input {
  height: 35px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid black;
  padding-left: 5px;
}
.button {
  cursor: pointer;
  height: 35px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: lightblue;
}

@media (max-width: 640px) {
  .logo {
    height: 250px;
  }

}

@media (max-width: 560px) {
  .logo {
    height: 200px;
  }
  .h1 {
    font-size: 25px;
  }
  .form {
    box-shadow: none;
    padding: 10px;
  }
}

@media (max-width: 450px) {
  .logo {
    height: 150px;
  }
  .h1 {
    font-size: 20px;
  }
}

@media (max-width: 350px) {
  .logo {
    height: 130px;
  }
  .h1 {
    font-size: 16px;
  }
}
