<div class="container">
  <div class="subcontainer">
    <div class="logo">
      <img
        class="logo-image"
        src="https://avatars.githubusercontent.com/u/2487851?s=280&v=4"
        height="200px"
        width="200px"
        alt="Logo"
      />
      <div>
        <h1>Bienvenue sur</h1>
        <h1>Norsys</h1>
        <h1>Parc Informatique</h1>
      </div>
    </div>
    <form class="form" [formGroup]="signupForm" (ngSubmit)="handleSubmit()">
      <h1>Inscription:</h1>

      <label>Nom:</label>
      <input
        class="input"
        type="text"
        required
        formControlName="nom"
      />

      <label>Email:</label>
      <input
        class="input"
        type="email"
        required
        formControlName="email"
      />

      <label>CIN:</label>
      <input
        class="input"
        type="text"
        required
        formControlName="cin"
      />

      <label>Numéro de téléphone:</label>
      <input
        class="input"
        type="text"
        required
        formControlName="telephone"
      />

      <label>Mot de passe:</label>
      <input
        class="input"
        type="password"
        required
        formControlName="mot_de_passe"
      />

      <label>Confirmation du mot de passe:</label>
      <input
        class="input"
        type="password"
        required
        formControlName="confirm_mot_de_passe"
      />

      <button class="button" [disabled]="signupForm.invalid">
        S'inscrire
      </button>
      <span>Tu as déjà un compte ? Connecte-toi <a routerLink="/">ici</a></span>
    </form>
  </div>
</div>
