<div *ngIf="reclamations.length === 0" class="no-affectations-container">
  <div class="header">
    <h2>Liste des réclamations</h2>
    <button *ngIf="!isAdmin" class="add-button" (click)="goToCreateReclamation()">➕</button>
  </div>
  <div class="no-affectations-message">
    <p>Aucune réclamation disponible</p>
  </div>
</div>

<div *ngIf="reclamations.length > 0" class="table-container">
  <div class="header">
    <h2>Liste des réclamations</h2>
    <button *ngIf="!isAdmin" class="add-button" (click)="goToCreateReclamation()">➕</button>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th>Nom Utilisateur</th>
      <th>Équipement</th>
      <th>Date Réclamation</th>
      <th>Description</th>
      <th>Etat de la reclamation</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
     <tr *ngFor="let rec of reclamations">
      <td>{{ rec.utilisateur.nom  }}</td>
      <td>{{ rec.equipement.nom  }}</td>
      <td>{{ rec.date_reclamation.split('T')[0] }}</td>
      <td>{{ rec.description }}</td>
      <td>{{ rec.etat_reclamation }}</td>
      <td>
       <button (click)="handleShowDetails(rec)" class="action-button show-btn" >
         <show-icon [size]="24"></show-icon>
       </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<reclamation-details *ngIf="showDetails"
                     [reclamation]="selectedReclamation!"
                     (process)="handleProcessReclamation($event)"
                     (close)="handleHideDetails()"></reclamation-details>
