.table-container {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
  margin: 20px auto;
  width: fit-content;
  max-width: 100%;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.95rem;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.table th {
  background-color: #5dade2;
  color: white;
}

.action-buttons {
  display: flex;
  gap: 10px;
}
.header {
  display: flex;
  align-items: center;
  gap: 5px;
}
.action-button {
  padding: 6px 12px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-button {
  cursor: pointer;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: none;
  background-color: #5dade2;
  color: white;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

.add-button:hover {
  background-color: #3498db;
}

.show-btn {
  background-color: lightgreen;
  color: white;
}
@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}
