<div *ngIf="reclamations.length === 0" class="no-affectations-container">
  <div class="header">
    <h2>Liste des réclamations</h2>
    <button *ngIf="!isAdmin" class="add-button" (click)="goToCreateReclamation()">➕</button>
  </div>
  <div class="no-affectations-message">
    <p>Aucune réclamation disponible</p>
  </div>
</div>

<div *ngIf="reclamations.length > 0">

  <div class="header">
    <h2>Liste des réclamations</h2>
    <button *ngIf="!isAdmin" class="add-button" (click)="goToCreateReclamation()">➕</button>
  </div>
  <reclamation-table [reclamations]="reclamations" (handleShow)="handleShowDetails($event)" />
  <reclamation-card [reclamations]="reclamations" (handleShow)="handleShowDetails($event)" />

</div>

<reclamation-details *ngIf="showDetails"
                     [reclamation]="selectedReclamation!"
                     (process)="handleProcessReclamation($event)"
                     (close)="handleHideDetails()"></reclamation-details>
