<h2>Changer de mot de passe</h2>
<form class="form" [formGroup]="changePasswordForm" (ngSubmit)="handleSubmit()">
  <label>Ancien mot de passe:</label>
  <div class="input-field">
    <input class="input" [type]="showOldPassword ? 'text': 'password'"  formControlName="ancien_mot_de_passe" required>
    <show-icon [size]="30" (iconClick)="showOldPassword = !showOldPassword"></show-icon>
  </div>
  <label>Nouveau mot de passe:</label>
  <div class="input-field">
    <input class="input" [type]="showNewPassword ? 'text': 'password'" formControlName="nouveau_mot_de_passe" required>
    <show-icon [size]="30" (iconClick)="showNewPassword = !showNewPassword"></show-icon>
  </div>
  <label>Confirmer mot de passe:</label>
  <div class="input-field">
    <input class="input" [type]="showConfirmPassword ? 'text': 'password'" formControlName="confirmer_mot_de_passe" required>
    <show-icon [size]="30" (iconClick)="showConfirmPassword = !showConfirmPassword"></show-icon>
  </div>
  <button class="button" [disabled]="changePasswordForm.invalid">Enregistrer</button>
</form>
